@import url("https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap");

.Container-logo {
  flex-direction: row;
  display: flex;
  align-items: center;
  float: left;
}

.Logo-nameF {
  font-size: 28px;
  color: orange;
  font-weight: 500;
  text-decoration: none;
}
.Logo-nameD {
  font-size: 26px;
  color: goldenrod;
  font-weight: 500;
  text-decoration: none;
}

.searchTerm:focus {
  color: #00b4cc;
}

.Btn-sign {
  border-radius: 6px;
  width: 60px;
  height: 30px;
  border: 3px solid #f5cd1b;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}

.Btn-signChild {
  text-decoration: none;
  font-size: 16px;
  color: #14271e;
  font-weight: 400;
}

.PreLoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin-top: 200px;
}

/* .wrp-outer {
  display: flex;
  color: "white";
  position: relative;
  justify-content: center;
  align-content: center;
  padding: 100px;
} */

.wrp-inner {
  max-width: 500px;
  min-width: 350px;
  /* max-height: 700px; */
  width: 30%;
  height: 60%;
  margin: 20px auto;
  background-color: #e7e7e7;
  border-radius: 25px;
}
.wrp-login {
  padding: 0px 20px 10px 20px;
  align-items: center;
}

.wrp-inner-instruction {
  max-width: 500px;
  min-width: 400px;
  max-height: auto;
  width: 30%;
  height: auto;
  /* margin: 20px auto; */
  background-color: #e7e7e7;
  border-radius: 25px;
}

.wrp-intruction {
  max-width: 700px;
  min-width: 300px;
  max-height: auto;
  width: 80%;
  height: auto;
  margin: 5px auto;
  padding: 1rem;
  background-color: white;
  border-color: #14271e;
  /* border-style: solid; */
  /* border-width: 1px; */
  border-radius: 8px;
}
@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  .wrp-intruction {
    min-width: 250px;
  }

  .wrp-inner {
    margin: 40px auto;
  }

  .wrp-inner-instruction {
    margin: 40px auto;
    min-width: 350px;
  }
}

@media only screen and (min-width: 768px) {
  /* For mobile phones: */
  .wrp-intruction {
    min-width: 250px;
  }

  .wrp-inner {
    margin: 40px auto;
  }

  .wrp-inner-instruction {
    margin: 40px auto;
  }
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    to right,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  font-family: "work sans";
}
.snackbar {
  bottom: 90;
}
html {
  font-size: 100%;
}

.header {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  width: auto;
  /* background-color: #00b4cc; */
}

.header-logo {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem 0 1rem 0;
  margin: 20px 20px 0px 20px;
  width: auto;
  /* background-color: #00b4cc; */
}

.header-logo-login {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 2rem 0 2rem 0;
  margin: 20px 20px 0px 20px;
  width: auto;
  /* background-color: #00b4cc; */
}

.header-title {
  font-family: "open sans", sans-serif;
  font-size: 2rem;
}

.header-title-finish {
  font-family: "open sans", sans-serif;
  font-size: 1.5rem;
}

.header-intruction {
  font-family: "open sans", sans-serif;
  font-size: 1.5rem;
}
.header-test {
  font-family: "open sans", sans-serif;
  font-size: 1rem;
}

.bg {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.gender {
  padding: 20px 50px 10px 45px;
}

.datePick {
  padding: 10px 50px 20px 45px;
  -webkit-appearance: none;
}

.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0 2rem 0;
  max-width: 100%;
  text-decoration: none;
}
.button-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 2rem 0 2rem 0; */
  max-width: 100%;
  text-decoration: none;
}

.row {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  max-width: 100%;
}

.input {
  width: 80%;
  box-sizing: border-box;
  border: none;
  font-size: 1rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.input:focus {
  box-shadow: inset 0px -3px 0px 0px rgba(34, 193, 195, 0.7);
  outline: none;
}

.input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.input:hover::-webkit-input-placeholder,
.input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.row label {
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187, 187, 187, 0.9);
}

.under-title {
  justify-content: center;
  align-items: center;

  display: flex;
  width: auto;

  height: 400px;
}

.row-button {
  line-height: 40px;
  text-align: center;
  border-radius: 25px;
  width: 80%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}
.row-button:disabled,
.row-button[disabled] {
  border: 1px solid #999999;
  background-color: #959595;
  color: #666666;
}
.row-button-submit {
  border-radius: 25px;
  width: 60%;
  height: 35px;
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row-button:hover {
  opacity: 0.8;
}

.listEmail {
  display: flex;
  padding: 2px;
  color: #12618f;
  flex: 1;
}
.buttonPdf {
  line-height: 20px;
  padding: 4px;
  text-align: center;
  border-radius: 8px;
  max-width: 40%;
  height: 36px;
  font-size: 1rem;
  color: white;
  font-weight: 450;
  background: rgb(34, 193, 195);
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
  float: right;
}
.listResult {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(223, 221, 221);
}

.list {
  flex-direction: row;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(223, 221, 221);
}

.answer-section {
  margin-top: 20px;
  font-family: "open sans", sans-serif;
  font-size: 1rem;
}

.size-to-content-swipeable-list__container {
  width: 100%;
  margin: 24px 0;
  /* outline-color: gray;
  outline-style: solid;
  outline-width: 1px 0;
  border-radius: 10px; */
}

.complex-swipeable-list__item-content-left {
  background-color: rgb(56 224 136);
  color: white;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.complex-swipeable-list__item-content-right {
  background-color: rgba(253, 187, 45, 1);
  color: white;
  flex: 1;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
}

.complex-swipeable-list__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
  width: 64px;
  max-width: 64px;
  text-align: center;
  padding: 4px;
  padding-top: 8px;
}

.complex-swipeable-list__icon {
  fill: white;
  width: 32px;
  height: 32px;
  margin-top: -4px;
}

.complex-swipeable-list__item-None {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  flex: 1;
  min-width: 0;
  user-select: none;
  cursor: pointer;
}

.complex-swipeable-list__item-False {
  background-color: rgb(56 224 136);
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  flex: 1;
  min-width: 0;
  user-select: none;
  cursor: pointer;
}

.complex-swipeable-list__item-False2 {
  background-color: rgba(253, 187, 45, 1);
  padding: 10px;
  border-bottom: 1px solid #c4c4c4;
  flex: 1;
  min-width: 0;
  user-select: none;
  cursor: pointer;
}

.complex-swipeable-list__item-label {
  display: flex;
  align-items: center;
}

.complex-swipeable-list__item-icon {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  min-height: 24px;
  max-height: 24px;
  fill: #083749;
}

.complex-swipeable-list__item-name {
  font-weight: bold;
  font-size: 14px;
  line-height: 27px;
  color: #083749;
  /* margin-right: 9px; */

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.complex-swipeable-list__item-description {
  margin-left: 2px;
  margin-top: 4px;
  color: #959595;
  font-size: 14px;
  line-height: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.form-div {
  margin: 50px;
  border-radius: 10px;
}
.form-div,
.button-div {
  transition: 0.5s ease-out;
}
form {
  border: 1px solid lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
}
/* input,
/* button {
  margin: 5px;
} */

/*SKELETON CSS*/

/*INPUT STYLING*/
input[type="text"],
input[type="password"],
textarea,
select {
  font-size: 16px;
  height: 40px;
  padding: 14px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
}
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
  border: 1px solid white;
  outline: 0;
}

.row {
  padding: 0 40px 0 40px;
}

.row input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  font-size: 16px;
  padding-left: 1rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187, 187, 187, 0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus {
  box-shadow: inset 0px -3px 0px 0px white;
  outline: none;
}

.row input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.label1 {
  align-self: start;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(80, 75, 75, 0.9);
}

.label2 {
  align-self: start;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: 10px;
  color: rgba(80, 75, 75, 0.9);
}

.label3 {
  align-self: start;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  color: rgba(80, 75, 75, 0.9);
}
